@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Rye&display=swap');



:root {
    --main_blueGreen_color: rgba(1,71,82,1);
    --main_blueGreen_color-faded: rgba(1,71,82,0.7);
    --main_blueGreen_color-faded2: rgba(1,71,82,0.3);
}

html {
    overflow-y: scroll;
    overflow-x: hidden; /*messes up the noscroll modals*/
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: no-repeat center center fixed;
    background-size: cover;
    width: auto;
    max-width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    font-family: 'Lato', sans-serif;
    color: #d7d7d7;
    -webkit-appearance: none;
}

.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

#mainIndex {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 56px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 34px;
    text-indent: 34px;
    text-decoration: none;
    margin: 12px;
    /*margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-bottom: 2px solid #969696;*/
}

h1 a, h1 a:visited, h1 a:active {
    color: #d7d7d7;
    text-decoration: none;
}

header {
    text-align: center;
    color: #d7d7d7;
    
}

.headerText {
    color: #8b8e91;
    font-size: 18px;
    letter-spacing: 6px;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 12px;*/
    width: 40%;
    /*border-bottom: 4px ridge #969696;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 42px;*/
}

.headerBorder {
    width: 100%;
    border-bottom: 4px ridge #969696;
    padding: 8px;
    border-radius: 24px;
}

.rounded {
    width: 100%;
    border-top: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 1px #ffffff, 0 0 10px #969696, 0 0 15px #ffffff;
}

nav {
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    letter-spacing: 4px;
}

nav a {
    display: inline-block;
    /*float: left;*/
    font-size: 16px;
    color: #d7d7d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    /*float: left;*/
    /*overflow: hidden;*/
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #d7d7d7;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(1,71,82,.75);
    font-weight: bold;
    /*text-decoration: underline;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(1,71,82,.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #d7d7d7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(1,71,82,1);
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-video-container, .video-container {
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
    /*width: 100%;
    height: 100%;*/
    width: 800px;
    /*height: 450px;*/
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: auto;
}
.main-videoF-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: auto;
}
#mainVideo {
    width: 100%;
    /*height: 100%;*/
    z-index: -1;
}
#muteButton {
    z-index: 10;
    font-size: 32px;
    position: sticky;
    bottom: 0;
    float: right;
    cursor: pointer;
    padding: 0;
}
#muteButtonIcon {
    /*background: #000000;*/
    background: rgba(0,0,0,0.2);
    background-image: url(../icons/SpeakerMute.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: 1px solid #2f2f2f;
    box-shadow: 0px 0px 8px 1px rgba(255,255,255,0.2);
}

.main-video-container iframe, .video-container iframe {
    width: 100%;
    height: 100%;
}

.mainSubText {
    font-size: 18px;
    padding: 12px;
}

.socialBar {
    display: inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.imgSocial {
    width: 16.66667%;
    height: 100%;
}

.socialProps {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialProps img {
    width: 24%;
}

.socialProps a {
    margin-left: auto;
    margin-right: auto;
}

.link4 {
    color: #262a30;
    background-color: transparent;
    text-decoration: none;
    display: inline;
    text-align: center;
}

.link1, .link1:visited {
    color: inherit;
    text-decoration: none;
}

.link1:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*.socialHover:hover {
    filter: drop-shadow(0 0 2px #ffffff) brightness(1.25);
    animation: fadeinout 2s Ease-in-out infinite;
}*/

#p01 {
    text-align: center;
    color: #d7d7d7;
    font-size: 15px;
    line-height: 1.4;
    width: auto;
}

.photoContainer {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photoContIn {
    width: 100%;
    height: 350px;
    margin: 0px auto;
    text-align: center;

    /*border-radius: 40% / 24%;*/
}

.arrowContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.arrowContainer button {
    background-color: rgba(0,0,0,0);
    color: #d7d7d7;
    border: none;
    font-size: 42px;
}

.arrowContainer button:hover {
    color: rgba(0, 108, 125, 1);
    box-shadow: 0 0 12px 0px rgba(121, 121, 121, 1);
    cursor: pointer;
}

.img3 {
    max-width: 100%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    object-fit: contain;
}

.slides {
    display: none;
    animation: fading cubic-bezier(.88,-0.49,.22,1.54) infinite;
}

@keyframes fading {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#toTopButton {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1004;
    outline: none;
    cursor: pointer;
    font-size: 48px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    transition: .2s all ease-in;
    color: rgba(215,215,215);
    border: solid 2px rgba(56,56,56,30%);
    background-color: rgba(56,56,56,75%);
    border-radius: 80% 0 0 0;
    box-shadow: 0px 0px 6px 2px #d7d7d7;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

#toTopButton::after {
    content: '🡱';
}

#myBtn:focus {
    color: rgba(215,215,215);
    background-color: rgba(56,56,56,75%);
}

#myBtn:hover {
    color: rgba(215,215,215);
    background-color: rgba(56,56,56,75%);
}

#myBtn:active {
    color: #383838;
    background-color: rgba(215,215,215);
}

/*--------------------------- Work Page ---------------------------*/
.workLink {
    text-decoration: none;
    color: #d7d7d7;
    text-align: center;
}

.workLink .workTitle {
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(255,255,255,0%);
    /*display: inline-block;*/
    vertical-align: top;
}

.workLink:visited {
    color: #d7d7d7;
}

.workLink:hover {
    /*text-decoration: underline;*/
    color: #ffffff;
}

.workLink:hover .workTitle {
    border-bottom: 2px solid rgba(255,255,255,90%);
}

.workLink:active {
    color: #d7d7d7;
}

.imgWorkContainer {
    width: 800px;
    /*display: block;*/
    /*height: 100%;*/
    margin: auto;
    /*vertical-align: middle;*/
}

.videoIMG {
    
}

/*--------------------------- End Work Page ---------------------------*/
/*--------------------------- Gear List Page ---------------------------*/
.pageTitle {
    text-align: center;
    font-size: 42px;
    border-bottom: 4px ridge #969696;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.gearListContainer {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.gearListContainerInner {
    text-align: left;
}

.gearListHeaders {
    text-align: left;
    font-size: 28px;
}

.gearList {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

/*.gearList a {
    text-decoration: none;
}*/

/*--------------------------- End Gear List Page ---------------------------*/

/*--------------------------- About Page ---------------------------*/

.aboutPageTextContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.aboutText {
    width: 80%;
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
    margin-left: auto; 
    margin-right: auto; 
}

.aboutHeader {
    font-size: 22px;
}
.aboutHeader span {
    border-bottom: solid 1px white;
}

.aboutImg {
    width: 60%;
}

.aboutHeaderIMG {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/TwitterCard.jpg);
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutHeaderIMG span {
    text-align: center;
    font-size: 42px;
    /*border-bottom: 4px ridge #969696;*/
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    color: #000000;
}

/*--------------------------- End About Page ---------------------------*/
/*--------------------------- Contact Page ---------------------------*/
.contactInfo {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    color: #d7d7d7;
}

.contactInfo a {
    color: #ffffff;
    text-decoration: none;
}

.contactInfo a:hover {
    color: #00c1df;
    text-decoration: underline;
}
.contactInfo a:active, .contactInfo a:visited {
    color: #ffffff;
}

/*--------------------------- End Contact Page ---------------------------*/
/*--------------------------- 404 ---------------------------*/

.FOFHeader {
    text-align: center;
    font-size: 32px;
    border-bottom: 4px ridge #969696;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.FOFSubHeader {
    text-align: center;
    font-size: 24px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.FOFSubHeader span {
    border-bottom: 1px solid #ffffff;
}
.FOFInfo {
    font-size: 22px;
    color: #d7d7d7;
}
    .FOFInfo a {
        color: #d7d7d7;
        text-decoration: none;
        border-bottom: solid 1px #00c1df;
    }
        .FOFInfo a:visited {
            color: #d7d7d7;
        }
        .FOFInfo a:hover {
            color: #00c1df;
        }
        .FOFInfo a:active {
            color: #ffffff;
            border-bottom: solid 1px #ffffff;
        }
.FOFList {
    text-align: left;
    font-size: 20px;
    line-height: 2;
}
.FOFImg {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}


/*--------------------------- End 404 Page ---------------------------*/
/*--------------------------- Work Page(s) ---------------------------*/

.workContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}

.workIndivContainer {
    padding: 15px;
}

.workTitle {
    /*width: 100%;*/
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    color: #d7d7d7;
    letter-spacing: 6px;
    padding: 12px;
}

/*.workTitle span {
    border-bottom: 1px solid #969696;
}*/

/*--------------------------- End Work Page(s) ---------------------------*/

/*--------------------------- Gallery Page ---------------------------*/

.mainContainer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

#photoText, .photoTextDescr, #photoTextCapt {
    color: #d7d7d7;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.photoTextDescr {
    margin-bottom: 24px;
    padding-bottom: 12px;
    margin-top: 8px;
    padding-top: 0;
}

.containerGrid {
    display: flex;
    object-fit: contain;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.containerGrid img {
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    /*padding: 12px;*/
}

.containerGrid img:hover {
    /*cursor: pointer;*/
    color: rgba(1,71,82,1);
    cursor: pointer;
    /*border: 10px rgba(1,71,82,1);*/
    /*box-shadow: 0 0 1px 4px #000000, 0 0 25px 15px rgba(1,71,82,1);*/
    box-shadow: 0 0 10px 10px rgba(1,71,82,0.3);
    -webkit-appearance: none;
}

.fadeScroll {
    transition: opacity 0.5s ease-in-out;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

/* The Modal (background) */
.photosModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.modalPhoto {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.modalPhotoContent {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5px;
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 40px 30px rgba(1,71,82,0.3);
    -webkit-box-shadow: 0 0 40px 30px rgba(1,71,82,0.3);
    -webkit-appearance: none;
}

#closeButton {
    display: block;
    cursor: pointer;
    font-size: 96px;
    line-height: 1;
    color: var(--main_blueGreen_color-faded);
    transition: 0.3s all ease-in-out;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rye', cursive;
    text-decoration: none;
    border: 0;
    background-color: rgba(0,0,0,0%);
    -webkit-appearance: none;
}

    #closeButton:hover,
    #closeButton:active {
        color: var(--main_blueGreen_color);
        transform: scale(1.2);
        transform-origin: center;
    }

/*--------------------------- End Gallery Page ---------------------------*/

/*--------------------------- @media ---------------------------*/

@media (hover:hover) {
    #toTopButton:hover {
        color: #383838;
        background-color: rgba(215,215,215);
    }
}

@media screen and (min-width: 1701px) {
    .video-container, .imgWorkContainer {
        width: 500px;
    }
    .main-video-container {
        width: 800px;
    }
}

@media screen and (max-width: 1700px) {
    .video-container, .imgWorkContainer {
        width: 600px;
    }
    .main-video-container {
        width: 800px;
    }
}

@media screen and (min-width: 1351px) {
    .containerGrid img {
        height: 250px;
    }
    .aboutHeaderIMG {
        width: 60%;
    }
    .aboutHeaderIMG span {
        padding-top: 2%;
    }
}

@media screen and (max-width: 1350px) {
    .containerGrid img {
        height: 200px;
    }
    .video-container, .imgWorkContainer {
        width: 500px;
    }
    .main-video-container {
        width: 750px;
    }
}

@media screen and (max-width: 1200px) {
    .headerText {
        width: 100%;
    }

    .aboutPageTextContainer {
        width: 70%;
    }

    .gearListContainer {
        width: 70%;
    }
    #toTopButton {
        background-color: rgba(56,56,56,75%);
    }
}

@media screen and (max-width: 1100px) {
    .containerGrid img {
        height: 250px;
    }
    .video-container, .imgWorkContainer {
        width: 400px;
    }
    .main-video-container {
        width: 725px;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 42px;
    }

    .video-container, .imgWorkContainer {
        width: 600px;
    }
    .main-video-container {
        width: 600px;
    }

    .photoContainer {
        width: 600px;
    }

    .photoContIn {
        height: 300px;
    }

    .arrowContainer button {
        transform: translateY(-30px);
    }

    .aboutPageTextContainer {
        width: 90%;
    }

    .gearListContainer {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    nav a {
        padding: 10px 12px;
    }

    .dropdown .dropbtn {
        padding: 10px 12px;
    }

    .dropdown-content {
        background-color: rgba(1,71,82,1);
    }
    .aboutText {
        width: 90%;
    }
    .aboutImg {
        width: 75%;
    }
    .aboutHeaderIMG {
        width: 100%;
        height: 250px;
    }
    .aboutHeaderIMG span {
        width: 50%;
        padding-top: 10%;
    }
}

@media screen and (max-width: 720px) {
    nav a {
        padding: 8px 10px;
    }

    .dropdown .dropbtn {
        padding: 8px 10px;
    }
}

@media screen and (max-width: 699px) {
    h1 {
        font-size: 22px;
        letter-spacing: 24px;
        text-indent: 24px;
    }

    .headerText {
        font-size: 14px;
        letter-spacing: 4px;
    }

    .video-container, .imgWorkContainer {
        width: 500px;
    }
    .main-video-container {
        width: 500px;
    }

    .photoContainer {
        width: 100%;
    }

    nav a {
        padding: 12px 20px;
    }

    .dropdown .dropbtn {
        padding: 12px 20px;
    }

    .socialProps img {
        width: 42%;
    }

    .containerGrid img {
        height: auto;
        width: 80%;
    }
    #toTopButton {
        background-color: rgba(56,56,56,90%);
        border-radius: 0 80% 80% 0;
        padding-left: 8px;
        padding-right: 16px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 42px;
        bottom: 10%;
        left: 0;
        right: revert;
    }
}

/*-------------------------------A mess---------------------------------------*/
@media screen and (min-width: 659px) and (max-width: 698px) {
    nav a {
        padding: 12px 8px;
    }

    .dropdown .dropbtn {
        padding: 12px 8px;
    }
}

@media screen and (min-width: 639px) and (max-width: 658px) {
    nav a {
        padding: 12px 4px;
    }

    .dropdown .dropbtn {
        padding: 12px 4px;
    }
}

@media screen and (min-width: 581px) and (max-width: 638px) {
    nav a {
        padding: 12px 18px;
    }

    .dropdown .dropbtn {
        padding: 12px 18px;
    }
}
/*-------------------------------End A mess---------------------------------------*/


@media screen and (max-width: 580px) {
    .photoContIn {
        height: 250px;
    }

    .main-video-container {
        width: 450px;
    }
    #muteButtonIcon {
        width: 25px;
        height: 25px;
        margin-right: 4px;
    }
    nav a {
        padding: 10px 12px;
    }

    .dropdown .dropbtn {
        padding: 10px 12px;
    }

    .pageTitle {
        font-size: 42px;
        width: 80%;
    }
    .aboutText {
        width: 95%;
    }
    .aboutImg {
        width: 80%;
    }
    .aboutHeaderIMG {
        height: 200px;
    }
    .aboutHeaderIMG span {
        width: 75%;
        padding-top: 10%;
    }
    .modalPhotoContent {
        box-shadow: none;
        -webkit-box-shadow: none;
        -webkit-appearance: none;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        letter-spacing: 18px;
        text-indent: 18px;
    }

    .headerText {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .photoContIn {
        height: 225px;
    }

    .arrowContainer button {
        font-size: 28px;
    }

    .containerGrid img {
        height: auto;
        width: 90%;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 12px;
        margin-bottom: 4px;
        /*padding: 8px;*/
    }
    .modalPhotoContent {
        max-width: 100%;
        margin: 0 auto;
    }
    .video-container, .imgWorkContainer {
        width: 300px;
    }
    .main-video-container {
        width: 350px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        letter-spacing: 10px;
        text-indent: 10px;
    }

    .photoContIn {
        height: 200px;
    }
}